extends layouts/login-layout.pug 

block content 
    .signupContainer 
      h1 Sign Up
        form#registerForm(method="post", onsubmit="event.preventDefault(); validateForm();")

          h4.errorMessage #{errorMessage}

          .names 
              input(class = "firstname", type="text", name="firstName", placeholder="First name", value=firstName required="")
              input(class = "firstname", type="text", name="lastName", placeholder="Last name", value=lastName required="")
          input(type="text", name="username", placeholder="Username", value=username required="")
          input(type="email", name="email", placeholder="Email", value=email required="")
          .passwords
              input#password(type="password", name="password", placeholder="Password", required="")
              input#passwordConf(type="password", name="passwordConf", placeholder="Confirm Password", required="")
          .loginButtons
                input(class = "login", type="submit", value="Sign Up")
                input(class = "signUp", type="submit", onclick="window.location.href = '/login'" , value="login")

        //- .registration 
        //-   a(href="/login") Already a member? Login

    script.
       var passwordField = document.getElementById("password")
       var passwordConfirmField = document.getElementById("passwordConf")
       var form = document.getElementById("registerForm")

       function validateForm() {
           if(passwordField.value != passwordConfirmField.value){
               alert("Passwords do not match")
           }
           else {
               form.submit();
           }
       }
